*{
    margin: 0;
    padding: 0;
    list-style: none;
}

main{
    background-color: rgb(255, 255, 255);
}

main .news .news-hot h1{
    text-align: center;
    padding: 15px;
}


.news .news-hot .container{
    width: calc(12*100%/ 18);
    margin: auto;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-wrap: wrap;
}


.news-box h2{
   width: 100%;
   margin-bottom: 1rem ;
   color: #bd945f;
   font-size: 20px;
}

.news-box p{
    width: 100%;
}

main .news .news-hot .container .news-box img{
    width: 100%;
}

main .news .news-hot .container .news-box{
    width: 28%;
    padding: 25px;
}

